<footer class="app-footer">
	<div class="app-footer-content flex-grow-1">
		Axobotl &copy; <%= new Date().getFullYear() %>.
		<span class="hidden-mobile">Discord Bot Dashboard</span>
		<a href="#top" class="ms-auto hidden-mobile" aria-label="Back to top">
			<svg class="sa-icon sa-thick sa-icon-primary">
				<use href="/icons/sprite.svg#arrow-up"></use>
			</svg>
		</a>
	</div>
</footer>