<aside class="app-drawer js-app-drawer">
    <button type="button" class="btn btn-system position-absolute top-0 end-0 z-2 overflow-hidden p-3" data-action="toggle-swap" data-toggleclass="open" data-target="aside.js-app-drawer" aria-label="Close">
        <svg class="sa-icon sa-icon-2x">
            <use href="/icons/sprite.svg#x"></use>
        </svg>
    </button>

    <div class="custom-scrollbar h-100 p-0">
        <div class="d-flex flex-grow-1 p-0 w-100 h-100">
            <div class="d-flex flex-column flex-grow-1 flex-0 overflow-x-auto h-100">
                <div class="flex-wrap align-items-center flex-grow-1 position-relative bg-gray-50">
                    <div class="position-absolute top-0 bottom-0 w-100 overflow-hidden d-flex flex-column">
                        <div class="w-100 p-4 pb-0 px-lg-3 bg-subtlelight-fade custom-scroll flex-grow-1 d-flex flex-column">
                            <div class="mb-g">
                                <h4 class="fw-600">Axobotl</h4>
                                <span class="text-muted">Discord Bot Dashboard</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>

<div class="backdrop" data-action="toggle-swap" data-toggleclass="open" data-target="aside.js-app-drawer"></div>