<aside class="app-sidebar d-flex flex-column">

    <a href="/dashboard" class="app-logo flex-shrink-0">
        <span class="fw-bold fs-5">Axobotl</span>
    </a>

    <nav id="js-primary-nav" class="primary-nav flex-grow-1 custom-scroll">
        <ul id="js-nav-menu" class="nav-menu">

            <li class="nav-title"><span>Dashboard</span></li>

            <li>
                <a href="/dashboard" data-filter-tags="overview home dashboard">
                    <svg class="sa-icon">
                        <use href="/icons/sprite.svg#activity"></use>
                    </svg>
                    <span class="nav-link-text">Overview</span>
                </a>
            </li>

            <li>
                <a href="/dashboard/commands" data-filter-tags="commands usage stats">
                    <svg class="sa-icon">
                        <use href="/icons/sprite.svg#terminal"></use>
                    </svg>
                    <span class="nav-link-text">Commands</span>
                </a>
            </li>

            <li>
                <a href="/dashboard/logs" data-filter-tags="logs history records">
                    <svg class="sa-icon">
                        <use href="/icons/sprite.svg#file-text"></use>
                    </svg>
                    <span class="nav-link-text">Logs</span>
                </a>
            </li>

        </ul>
    </nav>

    <div class="nav-footer">
        <svg class="sa-icon sa-thin">
            <use href="/icons/sprite.svg#wifi"></use>
        </svg>
    </div>
</aside>

<div class="backdrop" data-action="toggle-swap" data-toggleclass="app-mobile-menu-open"></div>

<!-- Sidebar Link Active Script -->
<script>
    const sideNavMenu = document.getElementById("js-nav-menu");
    const currentUrl = window.location.href.split(/[?#]/)[0];
    const allLinks = sideNavMenu.querySelectorAll("a");

    allLinks.forEach((link) => {
        if (link.href === currentUrl) {
            link.classList.add("active");
            let currentElement = link.closest("li");
            while (currentElement && currentElement !== sideNavMenu) {
                currentElement.classList.add("active");
                const parentCollapse = currentElement.closest("[role='menu']");
                if (parentCollapse) {
                    new bootstrap.Collapse(parentCollapse, { toggle: false }).show();
                    const collapseParentLi = parentCollapse.closest("li");
                    if (collapseParentLi) {
                        collapseParentLi.classList.add("active");
                    }
                    currentElement = collapseParentLi;
                } else {
                    currentElement = currentElement.parentElement;
                }
            }
        }
    });
</script>